.contacts-box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 96.8vh;
    width: 35%;
    padding-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.user-info{
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #E4E4E4;
    width: 100%
}

.user-info img{
    max-height: 80px;
    width: 80px;
    border-radius: 80px;
}

.user-info p{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
}

.contacts-container{
    width: 100%;
    text-align: center;
}

.user-contact{
    display: flex;
    width: 100%;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    align-items: center;
    border-top: 0.5px solid #E4E4E4; 
    border-bottom: 0.5px solid #E4E4E4; 
}

.user-contact:hover{
    background-color: #F9F5F4;
}

.contacts-container img{
    max-height: 50px;
    width: 50px;
    border-radius: 50px;
}

.contacts-container p{
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .contacts-box-container{
        width: 100%;
        z-index: 1;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 96.5vh;
        display: block;
    }

}