.sidebar-container {
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
}

.list-container {
  padding-top: 30px;
  border-right: 0.5px solid #e4e4e4;
  background-color: #00cdac;
  width: 20%;
}

.item-container {
  padding: 15px 30px;
  padding-left: 60px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-weight: 400;
  font-size: medium;
  line-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-container img {
  max-height: 25px;
  width: 25px;
  margin-right: 10px;
}

.item-container:hover {
  background-color: #00b899;
}

.sidebar-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: medium;
  font-size: small;
}

.display-section-container {
  padding: 25px;
  width: 100%;
}

.friend-id-container {
  position: relative;
  margin-top: 25px;
}

.loader {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  right: 5px;
  bottom: 13px;
  align-self: center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.requests-container {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: light;
  font-size: medium;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  width: 100%;
  margin-top: 40px;
}

.request-box {
  padding: 20px;
  border: 2px solid #e4e4e4;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.received-box {
  padding: 20px;
  border: 2px solid #e4e4e4;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.received-box div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.received-box:hover {
  background-color: #e4e4e4;
}

.request-box:hover {
  background-color: #e4e4e4;
}

@media screen and (max-width: 768px) {
  .list-container {
    width: 80%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    left:-65%;
    z-index:1;
    height: 100vh;
    animation-fill-mode: forwards;
  }

  .slide-in-animate{
    animation-name: slide-in;
    animation-duration: 0.5s;
  }

  .slide-out-animate{
    animation-name: slide-out;
    animation-duration: 0.5s;
  }

  @keyframes slide-in {
    0%   {left:-65%;}
    100% {left: 0px;}
  }

  @keyframes slide-out {
    0%   {left: 0px;}
    100% {left: -65%;}
  }

  .menu-icon{
    align-self: flex-end;
    max-width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 30px;
    animation-fill-mode: forwards;
  }

  .rotate-in-animate{
    animation-name: rotate-in;
    animation-duration: 0.5s;
  }

  .rotate-out-animate{
    animation-name: rotate-out;
    animation-duration: 0.5s;
  }

  @keyframes rotate-in{
    0% {transform: rotate(0deg)}
    100% {transform: rotate(180deg)}
  }

  @keyframes rotate-out{
    0% {transform: rotate(180deg)}
    100% {transform: rotate(0deg)}
  }

  .display-section-container {
    padding-left: 85px;
    padding-right: 10px;
    width: 100%;
  }

  .friend-id-container {
    position: relative;
    margin-top: 25px;
    width: 100%;
  }

  .requests-container {
    grid-template-columns: auto auto;
  }

}